*.orig
*.rej
*~
*.pyc
.tx
.tox
.installed.cfg
TODO
demo/demo.db
*.egg-info/*
lib/*
bin/*
eggs/*
dist/*
parts/*
include/*
uploads/*
develop-eggs/*
downloads/*
src_eggs/*
.idea
build
*.egg-info
.coverage
upload