{% extends "admin/change_list.html" %}
{% load i18n %}

{% block bodyclass %}change-list historic{% endblock %}

{% block content %}
<div id="content-main">
  <div class="module filtered dynamic-filter" id="changelist">
      <div class="results">
          <form id="changelist-form" method="post" novalidate="">
                <table cellspacing="0" id="result_list">
                  <thead>
                <tr>
                  <th>{% trans "Date" %}</th>
                  <th>{% trans "Contact" %}</th>
                  <th>{% trans "Action" %}</th>
                </tr>
                  </thead>
                  <tbody>
                {% for event in original.contactmailingstatus_set.all %}
                <tr class="{% cycle row1,row2 %}">
                  <td class="nowrap">{{ event.creation_date|date:"d F Y, H:i" }}</td>
                  <td>{{ event.contact.mail_format }}</td>
                  <td>{{ event.get_status_display }} {% if event.link %}{{ event.link.url|urlize }}{% endif %}</td>
                </tr>
                {% endfor %}
                  </tbody>
                </table>
          </form>
      </div>
  </div>
</div>
{% endblock %}
